[defaults]
inventory = inventory/prod/hosts.yml
# путь ко всем инвентарям
roles_path = roles
# Где ансибл будет искать роли
host_key_checking = False
#Не проверяет fingerprint хостов при первом подключении (удобно для часто меняющихся тестовых серверов, но менее безопасно)
retry_files_enabled = False
#При ошибке Ansible не будет создавать файл типа playbook.retry со списком упавших хостов
gathering = smart
#пропускает факты если они уже закэишированы и актуальны
fact_caching = jsonfile
# тип кэша для фактов
fact_caching_connection = .cache/facts
#где хранить файлы с закэшированными фактами
stdout_callback =default
result_format = yaml
#результаты в yml
callback_whitelist = profile_tasks
#показывает время для каждой задачи
#group_vars = /home/mibalykhin/Projects/Ansible/inventory/prod/group_vars
#vault_password_file = .vault_pass
#для автоматической расшифровки секретов файл

[ssh_connection]
pipelining = True
#ускорение выполнения
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
#автоматически принимает новые ключи
control_path = /tmp/ansible-%%h-%%r
#путь для ssh сокетов
